/* Budget PAGE .budgetPage-Div {
  background-color: aliceblue;
  background-image: url("/logo192.png");

  Full height
  height: 100%;

  Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
