.auth-link {
  color: white;
}

.Register-div {
  display: flex;
  /* max-width: 100vh; */

  align-items: center;
  justify-content: flex-end;
  color: black;
  background-color: rgb(2, 2, 53);
  min-height: 100vh;
  /* margin: 0; */
  /* align-items: center; */
}
.Register-div > div {
  /* max-height: 100vh; */
  max-width: 45%;
  min-width: 300px;
  min-height: 100vh;

  background: hsla(185, 71%, 53%, 1);

  align-items: center;

  background: linear-gradient(
    90deg,
    hsla(185, 71%, 53%, 1) 0%,
    hsla(277, 100%, 65%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(185, 71%, 53%, 1) 0%,
    hsla(277, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(185, 71%, 53%, 1) 0%,
    hsla(277, 100%, 65%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#33CFDD", endColorstr="#BB4DFF", GradientType=1 );
}

/* LANDING */
.img-account {
  max-width: 100px;
}
.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.landing-content .action {
  margin-left: 75%;
}

.landing-options > div {
  border: 1px solid rgb(13, 13, 90);
  border-radius: 20px;
  padding: 20px;
  min-width: 100px;
  max-width: 200px;
  margin: 20px;
  text-align: center;
}
.landing-options {
  display: flex;
}
.landing-link {
  text-decoration: none;
  font-weight: 900;
}
