.Register-div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: black;
}
.Register-div > div {
  margin: 20px;
  max-width: 400px;
  border-radius: 30px;

  background: hsla(185, 71%, 53%, 1);

  align-items: center;

  background: linear-gradient(
    90deg,
    hsla(185, 71%, 53%, 1) 0%,
    hsla(277, 100%, 65%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(185, 71%, 53%, 1) 0%,
    hsla(277, 100%, 65%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(185, 71%, 53%, 1) 0%,
    hsla(277, 100%, 65%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#33CFDD", endColorstr="#BB4DFF", GradientType=1 );
}
