@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

.submit-info-form-div {
  z-index: 1;
  position: "absolute";
  background-color: "white";
}
.pop-up dialog {
  z-index: 2;
  position: "absolute";
  background-color: "white";
}

/* INFO CARD CSS */
.info-cards.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info-card-item {
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  border-color: rgba(135, 206, 250, 0.363);
  border-radius: 3px;
  box-shadow: 0 2.8px 2.2px rgba(247, 153, 13, 0.034),
    0 6.7px 5.3px rgba(247, 153, 13, 0.048),
    0 12.5px 10px rgba(247, 153, 13, 0.06),
    0 22.3px 17.9px rgba(247, 153, 13, 0.072),
    0 41.8px 33.4px rgba(247, 153, 13, 0.086),
    0 10px 80px rgba(247, 153, 13, 0.12);
}
.info-card-title {
  font-family: "Rubik", sans-serif;
  font-size: xx-large;
  font-weight: 600;
}
.action-buttons-infoCard {
  max-height: 30px;
}
.info-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 40px;
}

.info-card.budget-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(auto, auto);
  background-color: rgba(255, 173, 51, 0.185);
  padding: 10px;
  border-radius: 20px;
}
