.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  min-height: 90vh;
  position: absolute;
  top: 70px;
  left: -100%;
  opacity: 1;
  transition: all 0.6s ease;
}

.nav-menu.active {
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  /* display: table; */
}

.nav-links:hover {
  text-decoration: none;
  background-color: #f0eff3;
  color: black;
  border-radius: 0;
}

.navBar-onView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.navbar-logo {
  /* transform: translate(25%, 50%); */
}

MenuIcon {
  /* display: block; */
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

.fa-times {
  font-size: 2rem;
}

.nav-links-mobile {
  display: block;
  text-align: center;
  padding: 1.5rem;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  background: #242222;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links-mobile:hover {
  background: #fff;
  transition: 250ms;
  box-shadow: 2px 2px 40px 0px #fff;
}
.space-dropdown {
  height: 350px;
}
